node_modules
dist
.env
.env.test
service-account-key.json
*service-account*.json


/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/src/generated/prisma

/generated/prisma

/generated/prisma
.vercel
